.album_list:link, .album_list:visited, .album_list:hover, .album_list:active {
	text-decoration: none;
}

.album_list {
	box-shadow: 3px 3px 10px 0px #363062;
}

.album_list:hover {
	transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
	box-shadow: 0.3rem 0.2rem 0.5rem #db6d92, 1rem 0.4rem 0 #f9b0c9
}
