@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css);
@import "toast.css";
@import "login.css";
@import "header.css";
@import "menu.css";
@import "album_list.css";
@import "album.css";
@import "edit_album.css";
@import "confirm.css";

.button:hover, .button:focus {
    background-color: #4a77d4;
    background-position: 0 -1rem;
    transition: background-position 0.1s linear;
}