.btn_icon {
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12)
}

.btn_icon:hover {
	background: #e7e7de;
    text-shadow: none;
}

.btn_icon--blue {
    background: #00587a;
}

.btn_icon--green {
	background: #008891;
}

.btn_icon--blue:hover {
    color: #00587a;
}

.btn_icon--green:hover {
    color: #008891;
}