.edit_album__input:focus, .edit_album__input:valid {
    border-bottom: solid 1px #8ad8f7 !important;
}

.edit_album__input:focus ~ label, .edit_album__input:valid ~ label {
    top: -3.2rem !important;
    color: #8ad8f7 !important;
    font-size: 0.7rem;
}

.edit_album__input:invalid {
    box-shadow: none;
}