@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.login__input {
    box-shadow: inset 0 -0.3rem 2rem rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
.login__input:focus {
    box-shadow: inset 0 -0.3rem 2rem rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.login__button:hover, :focus {
    background-color: #4a77d4;
    background-position: 0 -1rem;
    transition: background-position 0.1s linear;
}